.categoryContainer {
  position: relative;
  height: 20vw;
  width: 20vw;
  border-radius: 15px;
  border: 1px solid white;
  overflow: hidden;
  margin: 5px;
}
.categoryOverlay {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 0;
  height: 30%;
  width: 100%;
  z-index: 100;
  font-family: var(--main-font);
  font-size: 1.5em;
  color: white;
  background-image: linear-gradient(
    rgba(3, 168, 244, 0.9),
    rgba(3, 168, 244, 1),
    rgba(3, 168, 244, 0.02)
  );
}

.categoryImage {
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
}

.categoryName {
  margin: 0 auto;
  position: absolute;
  top: 2px;
}

.goToButton {
  padding: 0px 10px;
  position: absolute;
  width: 100%;
  bottom: 10px;
}

@media only screen and (max-width: 1000px) {
  .categoryContainer {
    height: 45vw;
    width: 45vw;
  }
}
