.categoryContainer {
  height: 20vw;
  width: 20vw;
  border-radius: 15px;
  border: 1px solid white;
  overflow: hidden;
  margin: 5px;
}
.categoryOverlay {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30%;
  width: 100%;
  z-index: 100;
  font-family: "Indie Flower", cursive;
  font-size: 1.5em;
  color: white;
  background-image: linear-gradient(
    rgba(3, 168, 244, 0.5),
    rgba(3, 168, 244, 1),
    rgba(3, 168, 244, 0.02)
  );
}

.categoryImage {
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
}

@media only screen and (max-width: 1000px) {
  .categoryContainer {
    height: 45vw;
    width: 45vw;
  }
}
