.mainContainer {
  width: 100%;
  height: 100%;
  margin: 0;
  padding-left: 30px;
  padding-right: 30px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.imagesOuterContainer {
  display: block;
}

.imagesInnerContainer {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.image {
  height: 250px;
  flex: 1 0 auto;
  border: 1px white solid;
}

.imageSelected {
    border: 3px white solid; 
}

@media only screen and (max-width: 600px) {
  .image {
    height: 180px;
  }
}
