.mainContainer {
  width: 100%;
  height: 100%;
  margin: 0;

  padding: 5px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.imagesOuterContainer {
  width: 100%;
  margin-top: 100px;
}

.imagesInnerContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.image {
  height: 230px;
  width: 100% !important;

  transition: all 0.5s ease;
}

.imageWrapper {
  flex: 1 0 auto;
  border: 1px white solid;
  cursor: pointer;

  overflow: hidden;
}

.previewClickArea {
  transition-property: background-color;
  transition-timing-function: ease-in;
  transition-duration: 0.5s;
  z-index: 100;

  height: 100%;
  width: 100%;

  visibility: hidden;
}

.image:hover {
  transform: scale(1.2);
  z-index: 101;
}

.image:hover > div {
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.3);
}

.imageSelected {
  transform: scale(1.2);
  background-color: rgba(0, 0, 0, 0.3);
}

.paginationControlsContainer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;

  padding-top: 15px;
}

.paginationButton {
  height: 40px;
  width: 40px;
  margin: 5px;

  transition: all 0.2s;
}

.paginationButton:hover {
  height: 50px;
  width: 50px;
}

@media only screen and (max-width: 600px) {
  .image {
    height: 180px;
  }
}
