.mainContainer {
  height: 100vh;
  width: 100vw;
  display: flex;
}

.presenterContainer {
  flex: 2 0 auto;
  position: relative;
}

.background {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;

  /* visibility: hidden; */
  /* display: none; */
}

.galleryContainer {
  display: flex;
  align-items: center;
  flex: 1;
}


@media only screen and (max-width: 600px) {
  .mainContainer {
    height: auto;
  }
  .presenterContainer {
    display: none;
    visibility: hidden;
  }


}
