.mainContainer {
  height: 100vh;
  width: 100%;
  display: flex;
}

.presenterContainer {
  flex: 3;
  position: relative;
  min-width: 50vh; /** TODO check if really needed **/

  display: flex;
  justify-content: center;
  align-items: center;
}

.blurBackground {
  height: 100%;
  width: 100%;
  z-index: -1;

  display: flex;
  justify-content: center;
  align-items: center;
}

.imagePreview {
  position: absolute;
  height: 85%;
  width: 85%;

  -webkit-box-shadow: 10px 17px 30px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 17px 30px -2px rgba(0,0,0,0.75);
  box-shadow: 10px 17px 30px -2px rgba(0,0,0,0.75);
}

.galleryContainer {
  display: flex;
  align-items: center;
  flex: 1 0 auto;
}

@media only screen and (max-width: 600px) {
  .mainContainer {
    height: auto;
  }
  .presenterContainer {
    display: none;
    visibility: hidden;
  }
}
