.navbar {
    /* background: var(--main-theme-color); */
    margin-bottom: 0px;
    position: absolute;
    width: 100%;
    top: 0;
    z-index:100;

}

.headerTitle {
    color: var(--white);
    text-decoration: none;
    font-size: 2rem;
    font-family: "Srisakdi", cursive;
    font-stretch: expanded;
    letter-spacing: 0.1rem;
    font-weight: bolder;
}

.headerTitle:hover {
    color: var(--white);
    text-decoration: none;
    
}


.siteMenuEntry {
    text-decoration: none;
    display: inline-block;
    color: var(--white);
}

.siteMenuEntry a {
    font-size: 1.5em;
    font-family: 'ZCOOL XiaoWei', serif; 
}

