.mainContainer {
  height: 100vh;
  width: 100%;

  display: flex;
}

.mobileBackground {
  display: none;
  visibility: hidden;

  position: absolute;
  height: 100%;
  width: 100%;
}

.imageContainer {
  flex: 3;
  height: 100%;
}

.contactContainer {
  flex: 1;
  height: 100%;
  background-color: #4e4a4a;

  display: flex;
  flex-direction: column;
}

.detailsContainer {
  flex: 1;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: 1.5em;
  color: white;
}

.title {
  font-size: 2em !important;
}

.separator {
  height: 1px;
  width: 50%;
  background-color: white;
}

@media only screen and (max-width: 600px) {
  .mobileBackground {
    display: inline;
    visibility: visible;
  }

  .imageContainer {
    display: none;
    visibility: hidden;
  }

  .contactContainer {
    z-index: 100;
  }

  .mobileBackground {
    z-index: 101;
  }

  .detailsContainer {
    z-index: 102;
  }
}
