@import url("https://fonts.googleapis.com/css?family=Indie+Flower|Open+Sans+Condensed:300|ZCOOL+XiaoWei|Srisakdi");

:root {
  --main-theme-color: #4527a0fd;
  --light-theme-color: #7953d2fd;
  --dark-theme-color: #000070fd;
  --grey: #616161;
  --black: #000000;
  --white: #ffffff;
  --main-font: "Indie Flower", cursive;
}

/* 
font-family: 'Indie Flower', cursive;
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Srisakdi', cursive;
font-family: 'Saira Extra Condensed', sans-serif; 
*/
